
body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
textarea, input, select {
  font-size: 16px;
}
button {
  margin-top: 10px;
  font-size: 16px;
}
a {
  display: block;
  color: #0f0;
  margin-top: 5px;
}
